@media (min-width: 480px) and (max-width: 1600px) {
  
  body {
    margin: 0;
  }

  .sidebar {
    display: inline-flex;
    flex-direction: column;
    width:20%;
    padding: 10px
  }
  
  .main {
    display: inline-flex;
    flex-direction: column;
    width:50%;
    padding: 50px;
    margin: 10px 20px 10px 15%;
  }
}